pa2/*
!pa2/QRzer.m
!pa2/QRzer_loesen.m
!pa2/main_QRzer.m
!pa2/README.md

pa3/*
!pa3/NewtonInter.m
!pa3/f.m
!pa3/main.m
!pa3/README.md

pa4/*
!pa4/richard.m
!pa4/main_richard.m
!pa4/README.md

pa5/*
!pa5/NewtonV.m
!pa5/mainNV.m
!pa5/README.md

pa6/*
!pa6/ExplEuler.m
!pa6/maindgl.m
!pa6/README.md
